<div class="modal-header">
    <h3>TODO: Instance name!</h3>
</div>
<div class="modal-body">
    TODO:<br>
    Instance value: value <br>
    Instance value: value <br>
    Instance value: value <br>
    Instance value: value <br>
    Instance value: value
    {{selectedInstance.Instances[0].KeyName}} SelectedInstance

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="stop(instance)">Stop</button>
    <button type="button" class="btn btn-danger" ng-click="terminate(instance)">Terminate</button>
</div>